<div class="row">
  <div >
    <form action="/plant/new" method="post">
      <legend> New Plant </legend>
      <div class="form-group">
        <label for="plant-name"> Name </label>
        <input type="text" class="form-control" id="name" placeholder="name">
      </div>
      <div class="form-group">
        <label for=""> Desc </label>
        <input type="text" class="form-control" id="desc" placeholder="desc">
      </div>
      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Create Post</button>
      </div>


    </form>

  </div>

</div>